.navbar {
    background-color: rgba(227, 243, 4, 0.788);
    padding: 10px;

    h1 {
        color: #000;
    }

    .header-link {
        text-decoration: none;
    }

    .navbar-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-input {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            padding: 5px;
            border: none;
            width: 500px;
            color: #909090;

            &:focus {
                outline: none;
            }
        }

    }

    .login-signup-buttons {
        button {
            margin: 0px 4px 3px 0px;
            background-color: #000;
            border: none;
            color: #fff;
            cursor: pointer;
            padding: 3px 5px;
            border-radius: 5px;
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);

            &:hover {
                background-color: #303030;
                transition: all 0.3s;
            }
        }
    }

    .user-logged-div {
        .inner-div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 5px;
        }

        .user-logged-buttons {
            margin-top: 5px;
            padding: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .logout-button button {
            background-color: #000;
            border: none;
            color: #fff;
            font-size: 10px;
            cursor: pointer;
            padding: 4px;
            width: fit-content;
            border-radius: 5px;
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.3);

            &:hover {
                background-color: #303030;
                transition: all 0.3s;
            }
        }

        .cart button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .products-cart {
        display: flex;
        justify-content: space-between;

        .all-categories button {
            margin-top: 5px;
            background-color: #000;
            border: 1px solid #404040;
            border-radius: 5px;
            padding: 6px;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
        }
    }




    @media screen and (max-width:660px) {
        h1 {
            font-size: 22px;
        }

        .search-input {
            display: flex;
            justify-content: center;

            input {
                width: 80%;
                padding: 5px;
                font-size: 10px;
            }

            button {
                padding: 4px;
                font-size: 10px;
            }
        }

        .login-signup-buttons {
            button {
                font-size: 10px;
            }
        }


        .products-cart {
            .all-categories button {
                margin-top: 8px;
                padding: 2px;
                font-size: 10px;
            }
        }



        .inner-div {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 5px;

            p {
                font-size: 8px;
            }
        }

        .user-logged-div {
            .logout-button {

                button {
                    font-size: 8px;
                    padding: 3px;
                }
            }
        }

        .cart button {
            font-size: 8px;
        }
    }
}