.SigninPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px;

    .main-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        border-radius: 5px;
        background-color: #fff;
        padding: 50px 25px;
        width: fit-content;
        box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
        img{
            width: 200px;
            height: 200px;
            margin-top: 20px;
        }
        .login-signup-toggle{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 10px 5px 20px 5px;

            p{
                font-size: 13px;
                color: #606060;
                cursor: pointer;
            }
        }
        .demo-account-login-button{
            background-color: transparent;
            border: none;
            text-decoration: underline;
            padding: 5px;
            margin: 0 auto;
            cursor: pointer;
        }
    }

    .login-signup-form{
        padding: 20px;

        .signin-icons{
            margin-right: 5px;
        }
        input{
            border: none;
            border-radius: 20px;
            padding: 10px;
            margin: 5px 0px;
            font-size: 16px;
            background-color: rgb(248, 244, 244);
        }
        input.submit-btn{
            background-color: rgb(16, 16, 236);
            color: #fff;
            cursor: pointer;
            margin: 15px 0px;
            border-radius: 10px;
            width: 100%;
            &:hover{
                background: rgb(79, 79, 202);
                transition: 0.3s all;
            }
    
        }
    }

}


@media screen and (max-width:660px){

    .SigninPage{


        .main-div{
            gap: 15px;
            padding: 30px 10px;
            img{
                width: 100px;
                height: 150px;
            }
            .login-signup-toggle{
    
                h3{
                    font-size: 14px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    
        .login-signup-form{
            padding: 10px;
    
            input{
                padding: 5px;
                font-size: 12px;
            }
            input.submit-btn{
                margin: 10px 0px;
        
            }
        }
    }
    
}